* {
  margin: 0;
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
}

nav {
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  padding: 30px 50px;
  justify-content: space-between;
}
